<div class="header">
    <div class="user-picture">
        <!--<div *ngif="post.user.pictureUrl">
            <img src="{{post.user.pictureUrl}}">-->
        <!--</div>        -->
    </div>
    <div class="username">
        {{post.user.username}}
    </div>
    <div class="right">
        {{post.creationTime | date: 'dd/MM/yyyy'}}
        <div style="margin-left: 10px;" class="actions">
            <a [class.liked]="post.liked"(click)="LikePost()" >
                <i class="glyphicon glyphicon-heart"></i>
            </a>
    </div>
    </div>

</div>
<div class="body">
    <div *ngIf="post.content === null">
        <pre class="message">{{post.message}}</pre>
    </div>
    <div *ngIf="post.content">
        <div *ngIf = "post.content.type == 'picture'">
            <picture-post-content [postContent]="post.content"></picture-post-content>
        </div>
        <div *ngIf = "post.content.type == 'youtube'">
            <youtube-post-content [postContent]="post.content"></youtube-post-content>
        </div>
        <div *ngIf = "post.content.type == 'video'">
            <video-post-content [postContent]="post.content"></video-post-content>
        </div>
        <div *ngIf = "post.content.type == 'lien'">
           <a href="{{post.content.value.mediaUrl}}">Click-me</a>
        </div>
    </div>
</div>
<div class="footer">
    
</div>
<style>
    :host {
        background: white;
        display: block;
        border-radius: 4px;
        border: 1px solid #d8d8d8;
        margin-top: 20px;
    }
    .user-picture {
        width: 50px;
        height: 50px;
        border-radius: 2px;
    }
    .header {
        padding: 15px;
        display: flex;
    }
    .username {
        font-weight: bold;
        padding: 0 15px;
    }
    .right {
        width: 100%;
        display: flex;
        /*align-items: center;*/
        justify-content: flex-end;
    }
    .right > .date {
        padding-left: 10px;
    }
    .actions > a {
        color: white;
        text-shadow: 0 0 3px black;
        cursor: pointer;
    }
    .actions > a.liked {
        color: #f17070;
        text-shadow: none;
        cursor: default;
    }
    pre.message {
        background: none;
        margin:0;
        border: none;
    }

    .errorMessage{
        color: red;
    }
</style>